* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}

body {
    background-color: #001220;
    display:flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image:url(./stuff/layered-waves-haikei\ \(1\).svg);
    background-size:cover;
    background-repeat: no-repeat;
    background-position:bottom;
}

.disk {
    border-radius: 50%;
    width: 600px;
    height: 600px;
    position:relative;
    display:flex;
    justify-content: center;
    cursor:grabbing;
}

.disk a {
    position:absolute;
    font-size:100px;
    color:white;
    text-decoration: none;
    cursor: pointer;
}

.disk i:hover {
    transform: scale(1.1);
    transition: 300ms;
    color:#d9b08c;
}

#work {
    bottom:0;
    transform: rotate(180deg);
}

#commerce {
    left:0px;
    top:250px;
    transform: rotate(-90deg);
}

#photography{
    right:0;
    top:250px;
    transform: rotate(90deg);
}

#about {
    top: 0px;
}

#mainCode {
    position:absolute;
    font-size:30px;
    color: #001220;
    bottom:20px;
    right:95px; 
}
#mainCode:hover {
    color:white;
    transition: 400ms;
}

#emojiGen {
    position:absolute;
    font-size:30px;
    color:#001220;
    bottom: 20px;
    right: 35px;
    cursor:pointer;
}
#emojiGen:hover {
    color:white;
    transition: 400ms;
}

#text {
    position:absolute;
    bottom:20px;
    left: 35px;
    color:white;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
}

#mainText {
    width:430px;
    margin-left: 100px;
    padding:15px 0 0 20px;
    color:#d9b08c;
    font-size:45px;
    font-family: 'Montserrat', sans-serif;
    box-shadow: -1px -1px white;
}