:root {
    --main-color: #001220;
    --detail-color: #d9b08c;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
    font-family: 'Montserrat', sans-serif
}

body {
    background-color: var(--main-color);
    display:flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image:url(./stuff/layered-waves-haikei\ \(1\).svg);
    background-size:cover;
    background-repeat: no-repeat;
    background-position:bottom;
    overflow: hidden;
}

.disk {
    border-radius: 50%;
    width: 600px;
    height: 600px;
    position:relative;
    display:flex;
    justify-content: center;
    cursor:grabbing;
    transition: 100ms;
}

.disk a {
    position:absolute;
    font-size:100px;
    color:white;
    text-decoration: none;
    cursor: pointer;
}

.disk i:hover {
    transform: scale(1.1);
    transition: 300ms;
    color: var(--detail-color);
}

#work {
    bottom:0;
    transform: rotate(180deg);
}

#commerce {
    left:0px;
    top:235px;
    transform: rotate(-90deg);
}

#photography{
    right:0;
    top:235px;
    transform: rotate(90deg);
}

#about {
    top: 0px;
}

#emailButton {
    position:absolute;
    font-size:30px;
    color:var(--main-color);
    bottom: 20px;
    right: 35px;
    cursor:pointer;
}
#emailButton:hover {
    color:white;
    transition: 400ms;
}

.emailForm {
    width: 50%;
    height: 40%;
    background-color: white;
    position: absolute;
    bottom: 0;
    border-radius: 10px;
    transform: translateY(100%);
    transition: 200ms;
}

.visible {
    transform: translateY(0);
}

form {
    display:flex;
    flex-direction: column;
    width: 80%;
    max-width: 600px;
    border-radius: 10px;
    margin: auto;
}

.contactTop {
    width: 600px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.contactHeader {
    margin-top: 10px;
}

#closeButton {
    font-size:28px;
    cursor: pointer;
}

.inputDiv {
    display:flex;
    align-items: center;
    justify-content: space-between;
    gap: 20%;
}

.inputDiv > input, textarea {
    width: 100%;
    margin-top: 5%;
    height: 40px;
    border: none;
    border-bottom: 1px solid black;
    font-weight:1000;
    outline: 0;
}

textarea {
    height: 80px;
}

#submitButton {
    width: 100px;
    height: 30px;
    margin: 7% 0;
    cursor: pointer;
    border: 1px solid black;
    border-radius: 5px;
}

#mainCode {
    position:absolute;
    font-size:30px;
    color: var(--main-color);
    bottom:20px;
    right:95px; 
}
#mainCode:hover {
    color:white;
    transition: 400ms;
}

#meText {
    position:absolute;
    bottom:20px;
    left: 35px;
    color:white;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
}

#mainText {
    width:430px;
    margin-left: 100px;
    padding:15px 0 0 20px;
    color:var(--detail-color);
    font-size:45px;
    font-family: 'Montserrat', sans-serif;
    box-shadow: -1px -1px white;
}



@media all and (max-width: 1400px) {
    .disk {
        width:400px;
        height:400px;
    }

    .disk a {
        font-size: 70px;
    }

    #commerce {
        top:160px;
    }
    #photography {
        top:160px;
    }

    .emailForm {
        height:50%;
    }
    .contactTop {
        width:80%;
    }
}
@media all and (max-width: 450px) {
    .disk {
        width: 300px;
        height: 300px;
    }
    
    .disk a {
        font-size: 50px;
    }

    #commerce {
        top:120px;
    }
    #photography{
        top:120px;
    }

    #mainText {
        margin-left: 0;
        width: 300px;
        position:absolute;
        top: 10px;
        font-size: 20px;
    }

    #meText {
        left: 10px;
        bottom: 10px;
        font-size: 0.7em;
    }
    
    #mainCode {
        color:white;
        right: 60px;
        bottom: 8px;
    }

    #emailButton {
        color: white;
        right: 10px;
        bottom:10px;
    }

    .emailForm {
        width:100%;
        z-index: 100;
    }

    textarea {
        margin-top: 50px;
    }
}